body{
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  /* Временно для разметки */
 /* background-image: url("../img/sedona-hotels.jpg"); */
  background-image: url("../img/sedona-index.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  /* opacity: 0.3; */
}

img{
  max-width: 100%;
  height: auto;
}

.navigation-list{
  list-style: none;
  background-color: #ffffff;
}

.navigation-item {
  color: #000000;
  text-decoration: none;
  font-weight: 700;

  /* box-sizing: border-box; */
  /* margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 72px; */
  /* margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  box-sizing: border-box; */
  /* margin-left: auto;
  margin-right: auto;
    padding: 15px 73px; */

}

.navigation-item:hover,
.navigation-item:focus{
  color: #81b3d2;
}

.navigation-item:active{
  color: #000000;
  opacity: 0.3;
}

.navigation-item-current{
  color: #766357;
}

.welcome{
  background-color: #a9a9a9;
  background-image: url("../img/polygon.svg"), url("../img/background.jpg");
  background-position: center bottom, center -55px;
  background-size: contain, auto;
  background-repeat: no-repeat;
}

.information{
  background-color: #ffffff;
}

.main-head{
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: #ffffff;

  width: 440px;
  margin: 60px auto 27px;
}

.advantages,
.advantages-item,
.advantages-description,
.social,
.form-filter ul,
.hotels-list{
  list-style: none;
}

.main-advantages-item{
  color: #ffffff;
  background-color: #81b3d2;
}

.main-advantages-item-text{
  width: 400px;
}

.main-advantages-item h3{
  width: 155px;
  margin: 46px auto 15px;
}

.main-advantages-item p{
  width: 305px;
  margin: 9px auto 10px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
}

.main-advantages-item{
  height: 256px;
}

.advantages-description,
.hotels-list{
  background-color: #ffffff;
}

.advantages-item{
  width: 400px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
}

.advantages-item h3{
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  width: 120px;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 8px;
}

.advantages-item p{
  width: 262px;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 8px;
}

.advantages h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.advantage,
.reserve-head{
  background-color: #ffffff;
}

.advantages h4{
  color: #000000;
}

.hotels::before{
  /* content: url("../img/icon-1.svg"); */
  margin-top: 4px;
  width: 75px;
  height: 72px;
  margin-top: 6px;
  content: ""; /* url("../img/icon-3.svg"); */
  /* align-items: flex-end; */
  background-image: url("../img/icon-1.svg");
  /* background-size: 64px 74px; */
  background-repeat: no-repeat;
  background-position: 0 0;
}

.eats::before{
  /* content: url("../img/icon-2.svg"); */
  width: 74px;
  height: 70px;
  margin-top: 6px;
  content: ""; /* url("../img/icon-3.svg"); */
  /* align-items: flex-end; */
  background-image: url("../img/icon-2.svg");
  /* background-size: 64px 74px; */
  background-repeat: no-repeat;
  background-position: 0 0;
}

.presents::before{
  content: ""; /* url("../img/icon-3.svg"); */
  width: 64px;
  height: 76px;
  /* align-items: flex-end; */
  background-image: url("../img/icon-3.svg");
  /* background-size: 64px 74px; */
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reserve h2{
  color: #000000;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  margin: 0 auto;
}

.reserve-head{
  z-index: 3;
  position: relative;
  padding-top: 50px;
}

.reserve p{
  line-height: 24px;
}

.form-reservation{
  width: 568px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: #ffffff;

}

.open-form{
  width: 568px;
  padding: 30px 139px 30px 139px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  border: none;
  margin: 0 auto;
}

.open-form:hover,
.open-form:focus{
  background-color: #604e43;
}

.open-form:active{
  text-transform: uppercase;
  background-color: #503e33;
  opacity: 0.3;
}

.input-date,
.input-count{
  background-color: #f2f2f2;
  border: none;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
}

.input-date:hover,
.input-count:hover{
  background-color: #ebebeb;
}

.input-date:focus,
.input-count:focus{
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.input-date::placeholder,
.input-count::placeholder{
    color: #000000;
}

.input-date{
  width: 346px;
  box-sizing: border-box;
}

.input-count{
  width: 10px;
}

.form-reservation button{
  background-color: #f2f2f2;
  border: none;
}

.form-reservation label{
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  display: block;
  margin: auto 0;
}

.calendar{
  fill: #cacaca;
  position: absolute;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 9px;
  padding-bottom: 7px;
  margin-left: 418px;
}

.calendar:hover,
.calendar:focus{
  fill: #000000;
}

.calendar:active{
  fill: #81b3d2;
}

.button-calendar{
  padding: 0;
}

.button-count-minus{
  width: 38px;
  height: 38px;
  position: relative;
  margin: 0;
  padding: 0;
}

.button-count-minus::after{
  content: "";
  width: 12px;
  height: 3px;
  position: absolute;
  left: calc(50% - 6px);
  top: calc(50% - 1.5px);
  background: #a9a9a9;
}

.button-count-plus{
  width: 38px;
  height: 38px;
  position: relative;
  margin: 0;
  padding: 0;
}

.button-count-plus::after{
  content: "";
  width: 11px;
  height: 3px;
  position: absolute;
  left: calc(50% - 5.5px);
  top: calc(50% - 1.5px);
  background: #a9a9a9;
}

.button-count-plus::before{
  content: "";
  width: 3px;
  height: 11px;
  position: absolute;
  left: calc(50% - 1.5px);
  top: calc(50% - 5.5px);
  background: #a9a9a9;
}

.button-count-minus:hover::after,
.button-count-plus:hover::after,
.button-count-plus:hover::before,
.button-count-minus:focus::after,
.button-count-plus:focus::after,
.button-count-plus:focus::before
{
  background-color: #000000;
}

.button-count-minus:active::after,
.button-count-plus:active::after,
.button-count-plus:active::before
{
  background-color: #81b3d2;
}

.form-reservation .search{
  background-color: #81b3d2;
  padding: 17px 197px 15px 196px;
  margin-bottom: 57px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
}

.search:hover,
.search:focus{
  background-color: #669ec0;
}

.search:active{
  opacity: 0.3;
  background-color: #5496bd;
}

.container-form{
  /* background-image: url("../img/map.jpg"); */
  width: 1200px;
  height: 594px;
  }

.map-link{
  position: absolute;
   z-index: 1;
}

.hotel-name{
    color: #000000;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.hotel-name:hover,
.hotel-name:focus{
    color: #81b3d2;
}

.hotel-name:active{
    color: #000000;
    opacity: 0.3;
}

.hotels-list .button{
  color: #ffffff;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
}

.hotels-list{
  margin: 0;
  padding: 0;
}

.info{
  width: 110px;
  background-color: #81b3d2;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.info:hover,
.info:focus{
  background-color: #669ec0;
}

.info:active{
  color: #ffffff;
  opacity: 0.3;
  background-color: #5496bd;
}

.order{
  width: 142px;
  background-color: #766357;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 3px;
}

.order:hover,
.order:focus{
  background-color: #604e43;
}

.order:active{
  color: #ffffff;
  opacity: 0.3;
  background-color: #503e33;
}

.rating{
  width: 110px;
  color: #666666;
  background-color: #f2f2f2;
  margin-bottom: 30px;
}

.stars{
  height: 17px;
  background-image: url("../img/star.svg");
  background-position:0 0;
  background-repeat: space;
  margin-top: 0px;
}

.stars-4{
  width: 89px;
}

.stars-3{
  width: 66px;
}

.stars-2{
  width: 42px;
}

.footer{
  opacity: 0.9;
  background-color:#ffffff;
}

.hashtag{
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.social-button{
  background-color: #81b3d2;
  margin: 0px;
  margin-right: 6px;
}

.twitter{
  width: 17px;
  height: 15px;
  background-image: url("../img/twitter-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  padding-left: 15px;
  padding-right: 14px;
  padding-top: 17px;
  padding-bottom: 16px;
}

.facebook{
  width: 12px;
  height: 22px;
  background-image: url("../img/facebook-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.youtube{
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.copyright{
  color: #000000;
}

.logo_academy{
  fill: #231f20;
}

.logo_academy:hover,
.logo_academy:focus{
  fill: #81b3d2;;
}

.logo_academy:active{
  fill: #bdbbbc;
}

.form-filter{
  color: #ffffff;
  line-height: 21px;
  background-color: #2f4249;
  background-image: url("../img/background-hotel.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.form-filter legend,
.coast p{
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.form-filter fieldset{
  border: none;
  text-align: left;
}

.form-filter button{
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;

  width: 133px;
  border: 2px solid #ffffff;
  background-color: Transparent;
}

.form-filter button:hover,
.form-filter button:focus{
  color: #000000;

  border: 2px solid #ffffff;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/* Разметка сетки */
.container{
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.footer-container{
position: relative;
}

.logo-city{
  position: absolute;
}

.main-navigation{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.navigation-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

/* .navigation-list a{
  display: flex;
  justify-content: center;
  flex-grow: 3;
} */

.navigation-list li:nth-child(4n-1){
  margin-left: auto;
}

.navigation-list li{
  text-align: left;
  width: 239px;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navigation-list li:nth-child(4n),
.navigation-list li:nth-child(4n-1){
  text-align: right;
} */

/* .navigation-list li:nth-child(4n) .navigation-item,
.navigation-list li:nth-child(4n-1) .navigation-item{
  margin-left: 0px;
  margin-right: 72px;
} */


.site-navigation{
  width: 239px;
  display: flex;
  flex-wrap: wrap;
}

.intro{
  width: 100%;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.welcome{
  padding: 77px 370px 70px 370px;
}

.content{
  background-color: #ffffff;
  z-index: 3;
  position: relative;
}

.advantages{
  width: 100%;
  padding: 0;
  margin: 0;
  display:flex;
  flex-direction: column;
}

.main-advantages{
  display:flex;
  flex-direction: column;
}

.main-advantages-item{
  display:flex;
}

.main-advantage-photo{
  width: 800px;
  height: 256px;
  max-width: 800px;
}

.advantages-description{
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
  margin-bottom: 68px;
  justify-content: space-around;
  padding: 0;

}

.advantages-description li{
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-description h4{
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin: 30px auto 9px;
}

.advantages-description p{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.other-advantages{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
  background-color: #eeeeee;
}

.reserve{
  display: flex;
  flex-direction: column;
  /* padding-top: 50px; */

}

.reserve p{
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 45px;
}

.container-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.form-reservation{
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 78px;
}

@keyframes bounce {
  0% {transform: translateY(-395px);}
  70% {transform: translateY(30px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

.form-reservation-show{
  display: flex;
  z-index: 2;
}

.form-reservation-animation{
  animation-name: bounce;
  animation-duration: 0.6s;
}

.container-input-inn{
  margin-top: 55px;
  display: flex;
  position: relative;
  /* justify-content: flex-start; */
}

.container-input-out{
  margin-top: 29px;
  display: flex;
  position: relative;
  /* justify-content: center; */
}

.container-input-inn label,
.container-input-out label{
  margin-right: 21px;
}

.count-people{
  display: flex;
  justify-content: center;
  margin-top: 31px;
  margin-bottom: 50px;
  width: 460px;
  flex-wrap: wrap;
}

.count-people-item-adult,
.count-people-item-children{
  display: flex;
}

.count-people-item-children{
  margin-left: 53px;
}

.count-people-item-adult  label{
  margin-right: 41px;
}

.count-people-item-children  label{
  margin-right: 27px;
}

.footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 120px;
}

.footer-main{
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.social{
  display: flex;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  justify-content: center;
  /* margin-top: 30px;
  margin-bottom: 36px; */
  /* margin-left: 36px; */
}

.hashtag{
  /* margin-top: 40px; */
  /* margin-left: 132px; */
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
}

.social-button{
  display: inline-block;
}

.copyright{
  display: flex;
  /* margin-right: 100px; */
  /* margin-top: 20px;
  margin-bottom: 40px; */
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  width: 400px;
  justify-content: center;
}

.copyright a{
  display: flex;
  margin-left: 8px;
}

.copyright p{
  display: flex;
  margin: 0;
}

.form-filter{
  display: flex;
  justify-content: space-between;
  min-height: 217px;
}

.filter-list{
  display: flex;
  padding: 0;
  flex-direction: column;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filters{
  display: flex;
  margin-left: 72px;
  margin-right: 115px;
  margin-top: auto;
  margin-bottom: auto;
}

.filter-list li{
  margin-bottom: 23px;
  /* padding-left: 40px; */
}

.filter-list li:last-child{
  margin-bottom: 0;
}

.filters fieldset{
  padding: 0;
  margin: 0;
  margin-right: 120px;
}

.filters legend {
  margin-bottom: 25px;
}

.filters label {
  position: relative;
  display: flex;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox{
  position: relative;
  cursor: pointer;
  padding-left: 40px;
  /* padding-top: 2px; */
}

.checkbox-name{
  display: inline-block;
  vertical-align: middle;
  min-height: 23px;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator{
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  /* border: 2px solid #000000; */
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator{
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator{
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}



/* .filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  left: -40px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.filter-input-checked + label::before{
  content: "";
  position: absolute;
  left: -40px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

} */

.filter-range {
  width: 316px;
  margin: auto 72px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 120px;
  padding-left: 30px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:focus,
.range-toggle:hover {

  top: -10px;
  /* width: 4px;
  height: 4px; */
  /* background: #ababab; */
  border: 10px solid #ffffff;
  /* border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer; */
} {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0;
  padding: 6px 35px;
  margin-left: 85px;
  margin-right: 95px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.search-count{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 72px;
  margin-right: 49px;

  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
}

.sort-info{
  display: flex;
  justify-content: center;
}

.label-ul,
.sort-item{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

}

.label-ul{
  margin: auto;
  /* margin-top: 35px; */
}

.sort-item{
  display: flex;
  margin: 0;
  /* margin-top: 35px; */
  margin-right: 33px;
  /* margin-bottom: 30px; */

}

.sort-item a{
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-item .check{
  color: #81b3d2;
  border-bottom: none;
}

.disabled{
  opacity: 0.3;
  color: #000000;
  /* border-bottom: 1px dotted #81b3d2; */
}

.disabled:hover,
.disabled:focus{
  color: #81b3d2;
}

.disabled:active{
  color: #000000;
  opacity: 1;
  border: none;
}

.sort{
  list-style: none;
  display: flex;
  margin: 0;
}

.sort-hotels{
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  justify-content: space-between;
  min-height: 85px;
}

.direction{
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  /* padding-right: 35px; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 45px;
}

.direction-sort{
  /* margin-right: 5px; */
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.direction-sort path{
  fill: #cacaca;
}

.direction-sort-active path,
.direction a:active path{
  fill: #81b3d2;
}

.direction-sort:hover path,
.direction-sort:focus path{
  fill: #231f20;
}

.sort{
  margin-right: 12px;
  margin-left: 40px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
}

.coast{
  margin-right: 74px;
}

.hotels-list-item{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4;
}

.hotels-list-container{
  display: flex;
}

.hotels-item-photo{
  margin-left: 74px;
  margin-top: 30px;
  margin-bottom: 22px;
}

.hotels-item-info{
  margin-left: 30px;
}

.hotels-item{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.hotels-item-coast{
  display: flex;
}

.hotels-item-coast p{
  margin-right: 39px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 77px;
  text-align: left;
}

.hotels-item-info h3{
  margin: 0;
  text-align: left;
}

.hotels-item-button{
  margin-left: 30px;
  margin-top: 12px;
}

.hotels-item-rating{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 70px;
  margin-top: 30px;
}
